body
{
	width:100%;
	height:100vh;
	background-color:#1b1b32;
    background-repeat: no-repeat;
	background-size: auto;
	color:white;
	font-family: tahoma;
	font-size:16px;
}




h1
{
  margin-bottom: none;
  text-align: center;
}

label {
  display: block;
  margin: 1em 0;
}

label[id="pfp"]
{
	border:none;
}

label[for="bio"]
{
	padding-top:3em;
}

p
{
	text-align:center;
	margin-bottom: 5em;
	margin-top:none;
}




form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}




input[id="submit button"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: gray;
  color: white;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

input[id="pfp"]
{
	border:none;
	margin-bottom:2em;
}

input
{
	width:100%;
	border:2px solid #CCC023;
}




textarea
{
	display:block;
	width:100%;
	margin-bottom:2em;
}
